.logo-container{
    width:30%;
    @media screen and (min-width: 992px) {
        width: 18%;
        
    }
}
.logo{
  
    width: 70%;     
    height: 70%;    
    object-fit: cover;
    transform: rotate(-45deg); 
    }
    

.title{
    font-family: 'Dancing script', cursive;
}