.border-small{
    border: none;
}

.nav-items {
    width: 100%;
    @media (max-width: 991px) {
      display: none;
    }
  }
  .nav-link{
font-family: Georgia, 'Times New Roman', Times, serif;
  }