.card{
    width: 100%;
    height : auto;
    white-space: pre-line;
   
}
.card-title{
font-size: 1.2em;
font-weight: bold;
}
.card-text{
    font-size: 0.5em;
}
.btn-custom{
    width: 40%;
    padding: 0.3rem;
    font-size: 1rem;
}