.card{

    background-size: cover; 
    background-repeat: no-repeat; 
  
    height : auto;
    white-space: pre-line;
    border: 0;
    margin: 20px;
    padding: 10px;
    text-align: center;
  
    font-family:'Dancing Script', cursive;
    box-shadow: 2px 2px 20px 0px #9c9090;

    
   


   
}

.card-title{
font-size: 2rem;
font-weight: bold;
}
.card-text{
    font-size: 1.5rem;
}
.btn-custom-card{
    width: 40%;
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    background-color: rgb(250, 212, 128);
    border-color: rgb(250, 212, 128);
}