
  @media (min-width: 768px) {
    .custom-width {
      width: 80%;
    }
  }
  
  @media (min-width: 992px) {
    .custom-width {
      width: 60%;
    }
  }
  .btn-delete{
    border: none;
    background-color: transparent;
  }