
.main{
  margin:0;
  padding: 0;
  width: 100%;
 min-height: 100vh;

}

.container {
  display:flex;
 flex-direction: column;
 justify-content: space-around;
  // min-height: 100vh;
  margin:0;
  padding: 0;
}

 


.main-section{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 
 @media screen and (max-width: 992px) {
    min-height: 100;
    margin-bottom: 0;
  }
  
 }


.custom{
  margin:0;
  padding:0;
  width: 100%;
}

.footer-container{
  
    width: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 992px) {
        height: 12vh;
    
      }
}
