.text-center{
  font-family: 'Dancing Script', cursive;
  font-size: 6em;
  margin-top: 1em;
  @media (max-width: 767px) {
    font-size: 3rem;
 
   
  }
}
.btn-custom{
  width: 35%;
}

.home__main__container {

  min-height: 100vh;
  
  .home__h1{
   
  
    text-align: center;
    margin-bottom: 2rem;
   
  }


}
