@import '../node_modules/bootstrap/scss/bootstrap.scss';




:root {
  font-family:'Dancing Script', cursive;
  line-height: 1.5;
  font-weight: 400;
  cursor : url("./assets/logo.png") 0 0, auto;

  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

