@import '../node_modules/bootstrap/scss/bootstrap.scss';
/* bring in normalize.css styles */

/* rest of app styles */

* {
  box-sizing: border-box;
}


html, body {
  min-height: 100vh;
  margin: 0 !important;
  padding: 0;
}


#root {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  margin:0;
  padding: 0;
}

 

  .body {
    overflow-y: hidden;

    cursor : url("./assets/logo.png") 0 0, pointer;
    line-height: 1.2rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100%; 
    margin:0 !important;
    padding:0 !important;
  }

 