.avatar{
    width: 40px;
    height: 40px;
    border-radius: 20%;
    background-color:#6182BC;
    display: inline-block;
    text-align: center;
    line-height: 40PX;
    margin-right: 10px;
   
}