

.content {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-size: 100% auto;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 1024x) {
    background-repeat: no-repeat;
  }
 
}
