
* {
  margin: 0;
  padding: 0;
}


.main-container {
  flex: 1; /* Permet au conteneur principal de se développer pour remplir l'espace disponible */
  display: flex;
  flex-direction: column;
  min-height:100%;

 
}
.content {
  flex: 1;

}
.structure{
  background-color: #F9F9F9;
}

.d-flex.flex-column {
    min-height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
  }
  .sticky-top {
    z-index: 1000; 
    background-color:#fcf9f9; 
  }
  .custom{
    height: 100%;
    width: 80%;
    margin : 0 auto;
    @media screen  and ( max-width: 768px){
      width:100%
    }
      
  }

  .overflow-x-scroll {
    overflow-x: scroll;
}
.custom-grid-row {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
