.structure{
  background-color: #F9F9F9;
}

.d-flex.flex-column {
    min-height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
  }
  .sticky-top {
    z-index: 1000; // Utilisez une valeur élevée pour vous assurer qu'il est au-dessus des autres éléments
    background-color:#fcf9f9; // Ou toute autre couleur opaque
  }
  .custom{
    height: 100%;
    width: 80%;
    margin : 0 auto;
    @media screen  and ( max-width: 768px){
      width:100%
    }
      
    }

  
