.container {



.poems-container {

    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 2rem;
    min-height: 45vh;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(to right, #F0E4E4, #6182BC);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    @media screen and (max-width: 778px) {
      flex-direction: column;
    }




}

.label-container {

    top: 0;
    @media screen and (max-width: 778px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}


.font-title-md {
    @media screen and (max-width: 992px) {
        font-size: 1.6rem !important;
        margin: 0;
    }

}

.title-md {
    margin-top: 2rem;

    @media screen and (max-width: 992px) {
        font-size: 2.65rem !important;
        margin-bottom: 2rem !important;
        font-weight: 700 !important;
    }

}


  }
  



  .label-container, .poem-list-container {
    width: 48%; // Ajustez cette valeur en fonction de vos besoins
    display: flex;
    justify-content: center;
  
    @media screen and (max-width: 778px) {
      width: 100%;
    }
  }
  
  .poem-list {
  
    list-style: none;
    background-color: #F0E4E4;
    padding: 20px;
    width: 50%;
    @media  screen and (max-width: 778px) {
        width: 100%;
        
    }
    
   
    background-image: linear-gradient(to right ,#F0E4E4,#F0E4E4,#6182BC);
    
    .poem-title {
        display : flex;
        justify-content: center;
      padding: 10px;
 
      transition: background-color 0.4s ease, padding 0.3s ease, filter 0.3s ease;
      :hover{
        cursor:pointer;
       }
      @media screen and (max-width: 778px) {
       padding:5px;
     
      }
      span{
        border-bottom: 1px solid #6182BC;
        padding: 0.6rem;
        transition: border-color 0.4s ease, background-color 0.4s ease;
      }
  
      &:hover {
      span{
        background-color: #fcf9f9;
    
      }
      
      
      }
    }
  }


.pagination {

    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color:#fcf9f9;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000; // A
  
    li {
      margin: 0 5px;
      transition: background-color 0.4s ease, color 0.4s ease;
  
      &.active {
        a {
            padding: 5px 10px;
            border: 1px solid #6182BC; 
            border-radius: 5px;
            color: #6182BC; 
        }
      }
  
      a {
        padding: 5px 10px;
        padding: 5px 10px;
      border: 1px solid #6182BC; 
      border-radius: 5px;
      color: #6182BC;  
  
        &:hover {
            background-color: #6182BC;
            color: #fff; 
        }
      }
    }
  }