$primary-color: #3f51b5;
$secondary-color: #f50057;
$background-color: #fafafa;

.container-fluid-custom {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

.main-card {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 1rem;
}

.work-container {
  display: flex;
  justify-content: center;
}

.poem-content {
  white-space: pre-wrap;
  width: 80%;
  margin: 1.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .poem-content {
    width: 60%;
    margin: 4rem;
    padding: 0;
  }

  .main-title {
    text-align: center;
    margin-top: 3rem;
  }

  .main-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }



  .work-container {
    text-align: center;
    margin-bottom: 2rem;
  }

  .poem-content {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 1.2rem;
  }

  .comment-container {
    flex-grow: 2;
    width: 100%;
    background-color: #dcdde1;
  }

  .comment-rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .large-font {
    font-size: 1.6rem;
  }
}

@media (max-width: 767px) {
  .mobile-font {
    font-size: 1.5rem;
  }
}
