.row {
  display: flex;
 flex-direction: row; // Empêche les éléments de passer à la ligne
}
.poem-container {

  background-size: cover;  
  background-repeat: no-repeat;
  padding: 2rem;
  min-height: 66vh;

  backdrop-filter: blur(50px); 
}

.poem-section { 
  

  

  backdrop-filter: blur(5px);

}
.poem-card, .comments-card {
  border: none;/* ajout de la bordure */
  border-radius: 15px;

  
 
}



.card-title {
  position: relative;
  &:after {
 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
   border-bottom: 1px solid #21252b; ;
}
}

.author-name {
  font-style: italic;
  color:#fcf9f9;
  
}

.poem-content {
  line-height: 1.4!important;
  font-family: 'Georgia', serif;
  font-size: 1.2rem;
  color: #3e2723;
  white-space: pre-wrap;
}

.comments-section {
  
  padding: 2rem;

  backdrop-filter: blur(50px);
  background-color: #B39A79;
  border-radius: 15px;
   opacity: 0.6;
 

 


  @media screen and (max-width: 992px) {
    border-left: none;
    border-top:  1px solid black; 
  }
    
  }
 .comments-container{
  overflow-y: auto;
  max-height: calc(100vh - 200px);

 }

.btn_custom{
  background-color: #f2f2f2;
  color: #333;
  
  color: white;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 5px rgba(97, 130, 188, 0.05);
}

.error-div{
  min-height: 71vh;
}

.large-icon {
  font-size: 2em !important;
  color: #6182BC;
}

.rating-container{
  @media screen and (max-width: 576px) {
flex-direction: column;
  }
    
  }
