@import "node_modules/bootstrap/scss/bootstrap";
@import 'variables';
a {
  all: initial;
  text-decoration: none;
  color: #333333;
}
.container-fluid-custom {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 1.5rem;
}

.text-center {
  margin-top: 2.5rem;
}


.card {
  margin-bottom: 1rem;
  padding: 1rem;
  padding: 0;
  min-width: 300px;
  height: 30%;
  font-family: "Dancing Script", cursive;
}

.btn-nav{
  width: 5%;
padding: 0.3rem;
font-size: 1rem;
border-radius: 0.5rem;
background-color: $primary-color;
border-color: $primary-color;
margin-top: auto; 
text-align: center;
color: white;
text-decoration: none;
padding: 0.5rem;
margin: 1rem;
@media screen and (max-width: 768px) {
  width: 2rem
}

}
.btn-nav:hover{
  background-color: $primary-hoover;
  border-color: $primary-hoover;
}


.toast-header,
.toast-body {
  background-color: rgb(223, 224, 224);
  font-family: "Dancing Script", cursive;
}
.delete-comment {
  background-color: $primary-color;
  border-color: $primary-color;
}
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: black; /* Changez cela en fonction de la couleur de texte que vous voulez */
}

.btn-primary:hover {
  background-color: $primary-hoover;
  border-color: $primary-hoover;
}
.ListGroup .Item:hover {
  background-color: blue($color: #2c95be);
  width: 90%;
}
.btn-custom {
 
  display: flex;
  justify-content: space-around;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  // width: 35%;
  font-size: 1.1em;
  padding: 1rem;
  margin: 2rem;
  background-color: $primary-color;
  border-color: $primary-color;
  border-color: black;
  border-radius: 0.8rem;
  text-align: center;
  text-decoration: none;
  color:whitesmoke;
  opacity: 0.8;

  &:visited {
    text-decoration: none;
   
  }
  &:hover {
    cursor: pointer;
    background-color: #1F4E70;
  }
  &:focus {
 
    border-color: black;
  }

  @media screen {
    @media (max-width: 768px) {
      width: 100%;
      margin: 1rem;
    }
  }
}
.error {
  color: rgb(228, 5, 5);
}
.text-center {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
}

