@import "node_modules/bootstrap/scss/bootstrap";
@import 'variables';




li:focus {
  outline: none;
}

 
.error {
  color: rgb(228, 5, 5);
}
.text-custom {
  text-align: left !important;        
 
}
.font-nav{
  font-family: 'Inter', sans-serif;
  font-size: 1rem !important;
  @media (min-width: 768px) and (max-width: 1044px) {
    font-size: 0.8rem !important;
    
  }
    
  }
  .font-custom {
    font-family: 'Inter', sans-serif;

  }


.color-four{
  color: $bg-four !important;
}


.bg-custom {
  background-color: $custom-color !important;
}
.bg-custom-second{
  background-color: $bg-second !important;

}
.color-second{
  color : $bg-second !important;
}
.third{
  
  border-top: 0.2rem solid $bg-third !important;
  color: $bg-third !important;
  width: 8%;
  margin-left: 5rem;
  @media screen and (max-width: 575px) {
    width: 10%;
    margin-left: 4rem;
  }
  @media screen and (max-width: 992px) {
    width: 10%;
    margin-left: 4rem;
  }
    
  }
.form-control{
  width: 50% !important;
  @media screen and (max-width: 992px) {
    font-size: $font-md !important;
    width: 100% !important;
   
  }
  &:focus {
    border-color: $bg-third !important;
    border : none !important;


}
}

  
  .btn-submit{
    width: 25%;
    @media screen and (max-width: 992px) {
      width: 75%;
    }
      
    }

  
 
.bg-custom{
  background-color: $bg-first!important;
}
.bg-third{
  background-color: $bg-third !important;
}
.bg-four{
  background-color: $bg-four !important;
}
.bg-structure{
  background-color: #f5f0f0;
}
.second{
  color : $bg-second !important;
}
.nav-item-hover {
  
  padding: 0.3rem;
 transition : background-color 0.4s ease-in-out;
 border-radius: 0.5rem 0 0 0.5rem;

  &:hover {
    background-color: $hover-third !important;
    cursor: pointer;
    box-shadow: 0 0 0.5rem 0.2rem $hover-third;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0.3rem;
   
   
  }
 
};

.cursor-link{
  cursor: pointer;
  text-decoration: none;
}
  
.ms{
  margin: $margin-small !important;
}
.roundy{
  border-radius: $border-roundy !important;
}
.font-color {
  color: $custom-color !important;
}
.font-read{
  color : $bg-third !important;
}
bg-four{
  background-color: $bg-four !important;
}
.line
{
  line-height: $line !important;
  letter-spacing: 0.1rem !important;
}
.offcanvas{
  width:70% !important;
  opacity: 0.9;
  height: 100%;
 
}
.form-control{

 
 
  @media screen and (max-width: 992px) {
    width: 100% !important;
    margin: 0  !important;  
 
  }
    
  }
.carousel-control-prev-icon{
  z-index: 2000;
}
.carousel-control-prev{
  z-index: 2000;
}
.carousel-indicators{
  z-index:2000
}

.card{
width: 80%;
  margin:0 auto;
@media screen and (max-width: 1024px) {
  width: 100%;
  margin:0 auto;
}
  
}


.b-color{
  border-color: $custom-color !important;
}
color-third{
  color: $bg-third !important;
}
.card{
  border: none !important;
box-shadow: none;
}
