$primary-color: #598BAE;
$primary-hoover:#1F4E70;
$secondary-color: #f0e9f3;
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
$bg-first:#F0E4E4;
$custom-color:#e7cdcd;
$custom-color-hover : #e4caca;
$bg-second:#fcf9f9;
$bg-third:#6182BC;
$bg-four:#4C4C4C;
$bg-five : #ffffff;
$hover-third:#5174b1;
$margin-small :0.5rem;
$border-roundy: 0.8rem;
$line: 1.5;
$font-md:1.2rem;


$utilities: (
  "opacity": (
    property: opacity,
    values: (
      0: 0,
      25: .25,
      50: .5,
      75: .75,
      80:.80,
      90: .90,
      95: .95,
      100: 1,
    )
  ),
  "w": (
    property: width,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      80: 80%,
      100: 100%,
    )
  )
);